body {
    background-color: darkslategray;
    color: darkblue;
    font-size: 24px;

    width: 100vw;
    height: 100vh;
    margin: 0 0;

    display: grid;
    grid-template-rows: 2fr 27fr 1fr;
}

/* ============================== Top ============================== */
/* ================================================================= */

.container.header {
    background-image: url("../dist/vintage_paper.jpg");
    background-position: bottom;
    background-size: cover;
}

/* ============================== Main ============================= */
/* ================================================================= */

.container.main {
    background-image: url("../dist/samosa_platter.jpg");
    background-position: center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content.main {
    width: 500px;
    height: 800px;

    background-color: #ccc3;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.main>* {
    background-color: #ccc6;
    padding: 30px;
    width: 400px;
    border-radius: 15px;

    text-align: center;
}
/* ============================= Footer ============================ */
/* ================================================================= */

.container.footer {
    background-image: url("../dist/vintage_paper.jpg");
    background-position: top;
    background-size: cover;
}
