body {
    background-color: darkslategray;
    color: #1f2937;
    font-size: 24px;
    font-weight: 700;

    width: 100vw;
    height: 100vh;
    margin: 0 0;

    display: grid;
    grid-template-rows: 2fr 27fr 1fr;
}

/* ============================== Top ============================== */
/* ================================================================= */

.container.header {
    background-image: url("../dist/vintage_paper.jpg");
    background-position: bottom;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container.header>.tab{
    width: 80px;
    padding: 5px;
    border: 2px solid #0c4a6e;
    text-align: center;
}

/* ============================== Main ============================= */
/* ================================================================= */

.container.main {
    background-image: url("../dist/samosa_platter.jpg");
    background-position: center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content.main {
    width: 500px;
    height: 800px;

    background-color: #ccc3;
    border-radius: 15px;
    box-shadow: 4px 4px 8px #0003;;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.content.main>* {
    background-color: #ccc6;
    padding: 30px;
    width: 360px;
    border-radius: 15px;

    box-shadow: 4px 4px 8px #0003;;

    text-align: center;
}

.content.main>.name {
    font-family: georgia;
    font-size: 48px;
    font-weight: 1000;
}

.heading {
    font-size: 32px;
}

li {list-style: none;}
/* ============================= Footer ============================ */
/* ================================================================= */

.container.footer {
    background-image: url("../dist/vintage_paper.jpg");
    background-position: top;
    background-size: cover;
}
